/* Custom class pour la zone de widget */
.sidebar-ef_class_test{
    border: solid 2px red;
}
.para-admin{
    margin-left: 15px;
    margin-bottom: 0;
}
.para-info{
    margin-bottom: 0;
}
