.css_add{
    color: black;
}
.paragraphe_info{
    font-size: 16px;
}

/* Class css pour la conteneur du Formulaire */
.widget{
    background-color: #39848cb0;
    border-radius: 5px;
    color: white!important;
}
.widget-title{
    text-align: center;
}
.btn-custom-send{
    background-color: #e73567e7!important;
    color: white!important;
}
.form-block-end{
    margin-block-end: 0.5em!important;
}
.widget-title-custom{
    color: white!important;
}