.css_add{
    color: black;
}
.paragraphe_info{
    font-size: 16px;
}
.ef_widget_container_class{
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.widget{
    background-color: #39848c;
    border-radius: 5px;
    color: white!important;
}
.widget-title{
    text-align: center;
}